@use "../abstractions/mixins";
@use "../abstractions/media";

.hero {
    position: relative;
    z-index: 1;
}

.hero__title-box {
    border: 2px solid var(--white);
    padding: 24px;
    // width: 55vw;
    width: 100%;
    margin-top: 163px;
}

.hero__title {
    font-family: "Josefin Sans", sans-serif;
    @include mixins.fluid-text(72, 40);
    font-weight: 300;
    text-transform: uppercase;
    line-height: 38px;
}

@include media.tablet-above {
    .hero__title-box {
        padding: 37px 0 27px 32px;
        margin-top: 130px;
        width: 59%;
    }
    .hero__title {
        line-height: 70px;
    }
}
